@font-face {
  font-family: sporting;
  src: url(../assets/fonts/SportingGrotesque-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: sporting;
  src: url(../assets/fonts/SportingGrotesque-Regular.otf);
  font-weight: 400;
}

body, *{padding: 0; margin: 0; font-size: 16px;}

* {
    text-rendering: geometricPrecision;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
  font-family: futura-pt, sans-serif;
  font-weight: 300;
  color: rgba(255,255,255, 1);
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  letter-spacing: 0.4px;
}

p b{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: rgba(255,255,255, 1);
  line-height: 150%;
  text-decoration: none;
  letter-spacing: 0.4px;
}

p i{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: rgba(255,255,255, 1);
  line-height: 150%;
  text-decoration: none;
  letter-spacing: 0.4px;
}

a{text-decoration: none;}

.main-container{width: 1140px; padding: 0 20px; margin: 0 auto;}
.flex-container{display: flex; justify-content: space-between; align-items: flex-start;}

@media only screen and (max-width: 1200px) {
  .main-container{width: 940px;}
}

@media only screen and (max-width: 1000px) {
  .main-container{width: calc(740px);}
}

@media only screen and (max-width: 800px) {
  .main-container{width: calc(100% - 40px);}
}

.menu {
  width: calc(100% - 100px);
  padding: 50px;
  color: #FFFFFF;
  background-color: rgba(255,255,255,0);
  box-shadow: none;
  position: absolute;
  z-index: 1;
}

@media only screen and (max-width: 800px) {
  .menu {padding: 20px;}
}

.menu-items button{
  font-family: futura-pt, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.8px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.menu-items button{color: rgba(255,255,255,0.5); display: block; background-color: none;}
.menu-items button:hover{color: rgba(255,255,255,1);}
.menu-items ul{list-style: none; position: fixed; bottom: 50px; right: 50px; z-index: 100000;}
.menu-items ul li{padding-bottom: 10px;}

@media only screen and (max-width: 800px) {
  .menu-items ul{right: 20px; padding-bottom: 20px;}
}

button.active{color: rgba(255,255,255,1) !important; transition: all 0.2s ease-in;}

.menu-logo-fixed{position: fixed;}
.menu-logo-absolute{position: absolute;}

@media only screen and (max-width: 800px) {
  .menu-logo-fixed{position: absolute;}
}

.menu-logo a{
  font-family: sporting, sans-serif;
  font-size: 24px;
  letter-spacing: 0.4px;
  font-weight: 700;
  line-height: 100%;
  text-decoration: none;
  top: 50px;
  color: rgba(255,255,255,1);
}

.menu-placeholder{
  position: fixed;
  width: 396px;
  height: 496px;
  background-color: #FFFFFF;
  top: calc((100vh - 500px)/2);
  left: calc((100% - 1140px)/2);
  background-color: rgba(29,29,29,0);
  border: solid 2px rgba(29,29,29,0.3);
  z-index: -1000;
}

@media only screen and (max-width: 1200px) {
  .menu-placeholder{left: calc((100% - 940px)/2);}
}

@media only screen and (max-width: 1000px) {
  .menu-placeholder{left: calc((100% - 740px)/2);}
}

@media only screen and (max-width: 800px) {
  .menu-placeholder{left: -100px;}
}

.recipes{padding: 250px 0 150px 0;}

.recipe {display: none;}

.show{display: flex; align-items: center; position: relative;}
.recipe a{display: flex; align-items: center; width: calc(100% - 400px); text-decoration: none; margin: 0 200px 50px 200px;}

@media only screen and (max-width: 800px) {
  .recipe a{display: flex; align-items: center; width: 100%; text-decoration: none; margin: 0 0 50px 0;}
}

.recipe-label{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 150%;
  font-size: 18px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
.recipe-title h2{
  font-family: sporting, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  padding-top: 20px;
  text-decoration: none;
  transition: all 0.2s ease-in;
  word-break: break-word;
}

@media only screen and (max-width: 800px) {
  .recipe-title h2{font-size: 56px;}
}

.recipe-label{
  color: #FFFFFF;
}

.recipe-title h2{
  color: rgba(255,255,255,0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255,255,255,1);
}

.recipe-link:hover .recipe-title h2{
  color: rgba(255,255,255,1);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255,255,255,0);
  transition: all 0.2s ease-in;
}

.recipe-image{
  position: fixed;
  width: 400px;
  height: 500px;
  background-color: #FFFFFF;
  top: calc((100vh - 500px)/2);
  left: calc((100% - 1140px)/2);
  opacity: 0;
  transition: all 0.2s ease-in;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1000;
}

@media only screen and (max-width: 1200px) {
  .recipe-image{left: calc((100% - 940px)/2);}
}

@media only screen and (max-width: 1000px) {
  .recipe-image{left: calc((100% - 740px)/2);}
}

@media only screen and (max-width: 800px) {
  .recipe-image{left: -100px;}
}

.recipe a:hover + .recipe-image{
  opacity: 1;
  transition: all 0.2s ease-in;
}

.recipe-header{
  display: flex;
}

.recipe-header-left{
  width: calc(50% + 50px);
  height: 100vh;
  max-height: 1080px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .recipe-header-left{
    width: calc(100% + 40px);
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 800px) {
  .recipe-header-left{
    max-height: 600px;
  }
}

.recipe-header-image{
  width: 50%;
  height: 100vh;
  max-height: 1080px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1000px) {
  .recipe-header-image{width: 100%;}
}

@media only screen and (max-width: 1000px) {
  .recipe-header-image{max-height: 600px;}
}

.recipe-header-text{
  margin-left: calc(100% - 570px);
  width: 100%;
  text-align: right;
  z-index: 1;
}

@media only screen and (max-width: 1200px) {
  .recipe-header-text{margin-left: calc(100% - 470px);}
}

@media only screen and (max-width: 1000px) {
  .recipe-header-text{
    margin-left: calc((100% - 740px)/2);
    margin-right: calc((100% - 740px)/2);
  }
}

@media only screen and (max-width: 800px) {
  .recipe-header-text{
    margin-left: 20px;
    margin-right: 20px;
  }
}

.recipe-header-text h2{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 150%;
  font-size: 18px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.recipe-header-text h1{
  font-family: sporting, sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: 100%;
  color: rgba(255,255,255,0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255,255,255,1);
  padding-top: 20px;
  word-break: break-word;
}

@media only screen and (max-width: 800px) {
  .recipe-header-text h1{font-size: 56px;}
}

.recipe-header-right{
  width: calc(50% - 300px);
  height: calc(100vh - 250px);
  max-height: calc(1080px - 250px);
  padding: 150px 150px 100px 100px;
  display: flex;
  align-items: flex-end;
}

@media only screen and (max-width: 1200px) {
  .recipe-header-right{
    width: calc(50% - 200px);
    height: calc(800px - 180px);
    padding: 100px 100px 80px 50px;
  }
}

@media only screen and (max-width: 1000px) {
  .recipe-header-right{
    display: none;
  }
}

.recipe-header-right p{
  font-weight: 700;
  max-width: 420px;
}

.recipe-content{display: flex; background-color: #FFFFFF; margin-top: 150px; padding: 150px;}

@media only screen and (max-width: 1200px) {
  .recipe-content{padding: 100px; margin-top: 100px;}
}

@media only screen and (max-width: 1000px) {
  .recipe-content{display: block; padding: 80px; margin-top: 80px;}
}

@media only screen and (max-width: 500px) {
  .recipe-content{display: block; padding: 40px; margin-top: 40px;}
}

.recipe-content h3{
  font-family: sporting, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.4px;
  color: #1d1d1d;
  margin-bottom: 40px;
}

@media only screen and (max-width: 1000px) {
  .recipe-content h3{margin-bottom: 20px; font-size: 21px;}
}

.recipe-content-ingredient{width: calc(33.33% - 40px); margin: 0 40px 0 0;}
.recipe-content-ingredient ul{list-style: none;}
.recipe-content-ingredient li{margin-bottom: 5px;}
.recipe-content-ingredient p{color: #1d1d1d;}
.recipe-content-ingredient b{color: #1d1d1d; font-size: 18px;}

@media only screen and (max-width: 1200px) {
  .recipe-content-ingredient{width: calc(40% - 40px);}
}

@media only screen and (max-width: 1000px) {
  .recipe-content-ingredient{width: 100%; margin: 0 0 40px 0;}
}

.recipe-content-prepare{width: 66.66%; margin: 0;}
.recipe-content-prepare p{color: #1d1d1d; margin-bottom: 20px;}
.recipe-content-prepare b{color: #1d1d1d; font-size: 18px;}
.recipe-content-prepare p i{color: #1d1d1d; font-size: 18px;}

@media only screen and (max-width: 1200px) {
  .recipe-content-prepare{width: 60%;}
}

@media only screen and (max-width: 1000px) {
  .recipe-content-prepare{width: 100%; padding: 0;}
}

.footer{padding: 120px 0;}
.footer-recipe a{display: flex; align-items: center; flex-direction: row; width: 100%; text-decoration: none; padding: 0;}

@media only screen and (max-width: 800px) {
  .footer-recipe a{align-items: flex-start; flex-direction: column; padding-bottom: 50px;}
}

.footer-label{
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  line-height: 150%;
  font-size: 18px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  width: 90px;
  text-decoration: none;
}

.footer-title h2{
  font-family: sporting, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  padding-top: 50px;
  text-decoration: none;
  transition: all 0.2s ease-in;
  word-break: break-word;
}

@media only screen and (max-width: 800px) {
  .footer-title h2{font-size: 56px; padding-top: 20px;}
}

.footer-label{
  color: #FFFFFF;
}

.footer-title h2{
  color: rgba(255,255,255,0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255,255,255,1);
}

.footer-title:hover h2{
  color: rgba(255,255,255,1);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255,255,255,0);
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}

button:focus {outline:0;}
